<hr>

<div>
  <h2>Affiliated Faculty</h2>
    <p>The following faculty from other departments and colleges have courtesy appointments in the Center for Sustainable Communities.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m6"> 
   
   <ul>
 <h3>Beasley School of Law</h3> 
   <ul>
 <li><a href="https://www.law.temple.edu/contact/amy-sinden/">Amy Sinden</a></li><br> 
   <ul> 
 <h3>College of Engineering</h3>
 <strong>Department of Engineering</strong>
   <ul>
 <li><a href="https://engineering.temple.edu/about/faculty-staff/li-bai-lbai">Li Bai</a></li>
 <li><a href="https://engineering.temple.edu/about/faculty-staff/liang-du-tuh42721">Liang Du</a></li><br>
   <ul>    
 <h3>College of Liberal Arts</h3>  
 <strong>Department of Anthropology</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/reeder-myers-leslie">Leslie Reeder-Myers</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/weitz-charles">Charles Weitz</a></li>
   <ul>
 <strong>Department of Geography and Urban Studies</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/hayes-conroy-allison">Allison Hayes-Conroy</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/henry-kevin">Kevin Henry</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/li-xiaojiang">Xiaojiang Li</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/masucci-michele">Michele Masucci</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/mennis-jeremy">Jeremy Mennis</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/rosan-christina">Tina Rosan</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/thomas-kimberley">Kim Thomas</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/winston-celeste">Celeste Winston</a></li><br>
   <ul>
 </div>   
       
   <div class="row">
     <div class="col s12 m6"> 
       
  <ul> 
 <h3>College of Public Health</h3>
 <strong>Department of Epidemiology and Biostatistics</strong>
  <ul>
 <li><a href="https://cph.temple.edu/about/directory/heather-murphy">Heather Murphy</a></li>
  <ul>
 <strong>School of Social Work</strong>
  <ul>
 <li><a href="https://cph.temple.edu/ssa/faculty/kimberly-mckay">Kimberly Mckay</a></li><br>
  <ul>
 <h3>College of Science and Technology</h3> 
 <strong>Department of Biology</strong>
  <ul>
 <li><a href="https://www.iecolab.org/jocelyn-e-behm/">Jocelyn Behm</a></li>
 <li><a href="https://sites.temple.edu/cordeslab/erik-cordes-principal-investigator/">Erik Cordes</a></li>
 <li><a href="http://igem.temple.edu/people/person/c0ca56d9e60be58ca9380514ed8ac51d">Ananias Escalante</a></li>
 <li><a href="https://sites.temple.edu/freestonelab/people/">Amy Freestone</a></li>   
 <li><a href="http://igem.temple.edu/people/person/5e9718893e7b9d2ded0741320124a1f1">Blair Hedges</a></li>
 <li><a href="https://www.iecolab.org/matthew-r-helmus/">Matt Helmus</a></li>
 <li><a href="https://astro.temple.edu/~sthsieh/">Tonia Hsieh</a></li>
 <li><a href="https://bioinformatics.cst.temple.edu/people/person/b18419348d516d5cba2453e1da88fc41">Rob Kulathinal</a></li>
 <li><a href="https://cis.temple.edu/user/306">Sudhir Kumar</a></li>
  <ul>
 <strong>Department of Chemistry</strong>
 <li><a href="https://chem.cst.temple.edu/strongin.html">Dan Strongin</a></li>
  <ul>
 <strong>Department of Earth and Environmental Studies</strong>
  <ul>
 <li><a href="https://www.fox.temple.edu/mcm_people/leora-eisenstadt/">Sujith Ravi</a></li>
 <li><a href="https://sites.temple.edu/geotoran/">Laura Toran</a></li>
   <ul> 
 <h3>Klein College of Media and Communication</h3>
 <strong>Media Studies and Production</strong>
  <ul>
 <li><a href="https://klein.temple.edu/faculty/patrick-murphy">Patrick Murphy</a></li>
  <ul>   
 </ul>
 </div>
</div>
 
 <hr>
